<!DOCTYPE html>
<html lang="en">
    <title> Data Collector App</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Super Geocoder</h1>
            <h3>Please upload your CSV file. The values containing address should be in a column named <i>address</i> or <i>Address</i></h3>
            <div class="message">
                {{text | safe}}
            </div>
            <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
                <input title="Your Email will be safe with us" placeholder="Enter Your Email Address" type="email" name="email_name" required> <br>
                <input type="file" name="file" > <br>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </body>
</html>